@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.header {
    border-bottom: #E2E2E9 solid 1.5px;
    padding-block: 20px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.souces__block,
.souces {
    margin-block: 30px;
}

.header__list {
    display: flex;
    gap: 12px;
    list-style-type: none;
}

.header__link a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #0e0c0d;
}

.header__link a:hover {
    color: #f7d22d;
}

.souces .container h4 {
    font-weight: 700;
    font-size: 24px;
    color: #f7d22d;
}

.souces__block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 14px;
}

.souces__card {
    width: 130px;
    height: 200px;
    padding: 24px 16px;
    border: #E2E2E9 solid 1.5px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.souces__card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.souces__card p {
    font-size: 14px;
}

.souces__card:hover {
    border: #F7D22D solid 2px;
}

.souces__price {
    color: #ff2e65;
    font-weight: 700;
}

.info {
    margin-block: 60px;
}

.container {
    width: calc(100% - 60px * 2);
    margin: 0 auto;
    max-width: 1110px;
}

.info__card {
    box-shadow: -10px 10px 25px #aaa9a950;
    border-radius: 14px;
}

.info__image {
    width: 1110px;
    height: auto;
}

.info__card-content {
    padding: 16px 64px;
}

.info__text {
    max-height: 150px;
    overflow: hidden;
    position: relative;
    transition: max-height 1s;
}

.info__text h2 {
    font-size: 20px;
    font-weight: 700;
}

.info__text p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2em;
}

.info__text::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 150px;
    opacity: 1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1)100%);
    transition: opacity 1s ease, height 1s ease 0.3s;
}

.info__text--active {
    max-height: 2000px;
}

.info__text--active::after {
    height: 1000px;
    opacity: 0;
    transition: opacity 1s ease, height 1s ease 0s;
}

.info__button,
.header__button,
.korzina__button {
    background: #F7D22D;
    border-radius: 8px;
    padding: 12px 32px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition-duration: .3s;
    text-decoration: none;
    color: #0e0c0d;
}

.korzina__button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info__button:hover,
.header__button:hover,
.korzina__button:hover {
    background: #fae37b;
}

.no-scroll {
    overflow: hidden;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    opacity: 0;
    display: none;
    transition: opacity .5s;
    font-family: "Montserrat", sans-serif;
    background: rgba(247, 210, 45, 0.4);
}

.popup--show {
    display: flex;
}

.popup.popup--active {
    opacity: 1;
}

.popup__body {
    background: #E3ECF5;
    border-radius: 12px;
    width: 600px;
    max-height: 465px;
    transform: translateY(520px);
    transition: transform .3s;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.popup--active .popup__body {
    transform: translateY(0px);
}

.popup__content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 40px;
}

.popup__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup__header p {
    font-weight: 800;
    font-size: 32px;
    color: #696f7a;
}

.popup__close {
    cursor: pointer;
    transition: .3s;
    fill: #A5A5A5;
}

.popup__close:hover {
    fill: #f7d22d;
}

.popup__variants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
}

.popup__variants button {
    background: #F5F6F7;
    border-radius: 8px;
    border: 1px solid #E1E1E1;
    padding-block: 12px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 700;
    color: #231f20;
    text-align: left;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.15);
    -webkit-text-stroke: 0px transparent;
    transition: .2s;
}

.popup__variants button:hover {
    border: 1px solid #F7D22D;
    -webkit-text-stroke: 0.3px #F7D22D;
}

.show-popup {
    display: block;
    margin: 0 auto;
    background: #F5F6F7;
    border-radius: 8px;
    border: 1px solid #E1E1E1;
    padding: 12px;
    font-size: 15px;
    font-weight: 700;
    color: #231f20;
    text-align: center;
    cursor: pointer;
}

.show-popup:hover {
    background: #fae37b;
    border: 1px solid #F7D22D;
}

.cart__container {
    width: calc(100% - 60px * 2);
    margin: 0 auto;
    max-width: 800px;
}

.cart__title {
    color: #F7D22D;
    font-weight: 800;
    font-size: 36px;
    padding: 40px 0 28px;
    margin: 0;
}

.cart__list {
    border-top: 1px solid #eee;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    border-bottom: 1px solid #eee;
}

.cart__item-left {
    display: flex;
    gap: 16px;
    max-width: 70%;
}

.cart__item-image {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 8px;
}

.cart__item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart__item-name {
    font-weight: 700;
    font-size: 19px;
    line-height: 89%;
    color: #0e0c0d;
}

.cart__item-desc {
    font-weight: 500;
    font-size: 13px;
    line-height: 146%;
    color: #686466;
}

.cart__item-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart__item-price {
    font-weight: 800;
    font-size: 24px;
    color: #f7d22d;
    white-space: nowrap;
}

.cart__counter {
    display: flex;
    align-items: center;
    background: #f5f6f8;
    border-radius: 8px;
    padding: 4px 8px;
}

.cart__counter-btn {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    background: none;
}

.cart__counter-value {
    font-weight: 600;
    font-size: 16px;
    min-width: 30px;
    text-align: center;
}

.cart__remove {
    width: 36px;                 
    height: 36px;
    background: transparent;     
    border: 2px solid #ccc;      
    border-radius: 50%;           
    font-size: 20px;            
    font-weight: normal;
    color: #aaa;                
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;   
}

.cart__remove:hover {
    border-color: #f7d22d;        
    color: #f7d22d;              
}

.cart__promo-summary {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 40px;
}

.cart__promo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cart__promo-title {
    font-weight: 700;
    font-size: 24px;
    color: #ff2e65;
    margin-bottom: 12px;
}

.cart__promo-form {
    display: flex;
    gap: 0;
    max-width: 420px;
    margin-top: 8px;
}

.cart__promo-form input {
    flex: 1;
    padding: 14px 16px;
    border: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
    font-size: 16px;
}

.cart__promo-form button {
    background: #f7d22d;
    color: black;
    font-weight: 700;
    padding: 0 24px;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.cart__summary {
    padding-bottom: 5px;
    gap: 12px;
    font-size: 18px;
    font-weight: 600;
    font-size: 24px;
    line-height: 71%;
    color: #0e0c0d;
}

.cart__total {
    font-weight: 800;
    font-size: 36px;
    text-align: right;
    color: #f7d22d;
}

.cart__subtitle {
    margin: 48px 0 24px;
    font-weight: 800;
    font-size: 32px;
    color: #f7d22d;
}

.cart__subtitle {
    margin: 48px 0 24px;
    font-weight: 800;
    font-size: 32px;
    color: #f7d22d;
}

.cart__form {
    display: grid;
    gap: 24px;
}

.cart__form-item {
    display: flex;
    align-items: center;
    gap: 120px;
    font-weight: 600;
    font-size: 17px;
    color: #231f20;
    opacity: 0.7;
}

.cart__form-item span {
    width: 120px;
    text-align: left;
}

.cart__form-item input {
    padding: 16px 20px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 18px;
    width: 570px;
    color: #0e0c0d;
}

.cart__actions {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.cart__back {
    font-weight: 700;
    font-size: 15px;
    color: #696f7a;
    text-decoration: none;
    display: flex;
    gap: 15px;
    align-items: center;
}

.cart__submit {
    background: #f7d22d;
    color: black;
    font-weight: 700;
    font-size: 18px;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}