@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat Alternates", sans-serif;
}

.info {
    margin-block: 60px;
}

.info__container {
    width: calc(100% - 60px * 2);
    margin: 0 auto;
    max-width: 1110px;
}

.info__card {
  box-shadow: -10px 10px 25px #aaa9a950;
}

.info__image {
    width: 1110px;
    height: auto;
    
}

.info__—Åard-content {
    padding: 16px 64px;
}

.info__text {
    max-height: 150px;
    overflow: hidden;
    position: relative;
    position: relative;
}

.info__text--active {
    max-height: 1000px;
}

.info__text--active::after {
    display: none;
}

.info__text h2 {
    font-size: 20px;
    font-weight: 700;
}

.info__text p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2em;
}

.info__text::after {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1)100%);
    content: "";
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
}

.button {
    background: #F7D22D;
    border-radius: 8px;
    padding: 12px 32px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.button:hover {
    background: #fae37b;
}
