@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

.info {
    margin-block: 60px;
}

.info__container {
    width: calc(100% - 60px * 2);
    margin: 0 auto;
    max-width: 1110px;
}

.info__card {
    box-shadow: -10px 10px 25px #aaa9a950;
    border-radius: 14px;
}

.info__image {
    width: 1110px;
    height: auto;

}

.info__—Åard-content {
    padding: 16px 64px;
}

.info__text {
    max-height: 150px;
    overflow: hidden;
    position: relative;
    position: relative;
}

.info__text--active {
    max-height: 1000px;
}

.info__text--active::after {
    display: none;
}

.info__text h2 {
    font-size: 20px;
    font-weight: 700;
}

.info__text p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2em;
}

.info__text::after {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1)100%);
    content: "";
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
}

.button {
    background: #F7D22D;
    border-radius: 8px;
    padding: 12px 32px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.button:hover {
    background: #fae37b;
}

.no-scroll {
    overflow: hidden;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    opacity: 0;
    display: none;
    transition: opacity .5s;
    font-family: "Montserrat", sans-serif;
    background: rgba(247, 210, 45, 0.4);
}

.popup--show {
    display: flex;
}

.popup.popup--active {
    opacity: 1;
}

.popup__body {
    background: #E3ECF5;
    border-radius: 12px;
    width: 600px;
    max-height: 465px;
    transform: translateY(520px);
    transition: transform .3s;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.popup--active .popup__body{
    transform: translateY(0px);
}

.popup__content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 40px;
}

.popup__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup__header p {
    font-weight: 800;
    font-size: 32px;
    color: #696f7a;
}

.popup__close {
    cursor: pointer;
    transition: .2s;
    fill: #A5A5A5;
}

.popup__close:hover {
    fill: #f7d22d;
}

.popup__variants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
}

.popup__variants button {
    background: #F5F6F7;
    border-radius: 8px;
    border: 1px solid #E1E1E1;
    padding-block: 12px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 700;
    color: #231f20;
    text-align: left;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.15);
    -webkit-text-stroke: 0px transparent;
    transition: .2s;
}

.popup__variants button:hover {
    border: 1px solid #F7D22D;
    -webkit-text-stroke: 0.3px #F7D22D;
}

.show-popup {
    display: block;
    margin: 0 auto;
    background: #F5F6F7;
    border-radius: 8px;
    border: 1px solid #E1E1E1;
    padding: 12px;
    font-size: 15px;
    font-weight: 700;
    color: #231f20;
    text-align: center;
    cursor: pointer;
}

.show-popup:hover {
    background: #fae37b;
    border: 1px solid #F7D22D;
}